<div class="learning-carousel">
  <div class="carousel-container">
    <div class="carousel-track">
      <!-- Images will be inserted dynamically -->
    </div>
    <button class="carousel-button prev-button" aria-label="Previous slide">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z" />
      </svg>
    </button>
    <button class="carousel-button next-button" aria-label="Next slide">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M8.59 16.59L10 18l6-6-6-6-1.41 1.41L13.17 12z" />
      </svg>
    </button>
  </div>
  <div class="carousel-dots">
    <!-- Dots will be inserted dynamically -->
  </div>
</div>
